# --- Development Environment ---
.venv/
env/
.vscode/
.idea/

# --- Godot Engine ---
.godot/
.import/
.mono/
.nomedia
export.cfg
export_credentials.cfg
*.tmp
*.translation
data_*/
mono_crash.*.json

# --- Build Artifacts (Binaries & Libraries) ---
bin/*
!bin/.keep
*.dll
*.so
*.exp
*.lib
*.pdb

# --- SCons Build System ---
.sconsign.dblite
.sconf_temp/